@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');


table {
  font-size: 15px !important;
  line-height: 1rem !important;
  /* border-color: #ffffff !important; */
  border: none !important;
}

td {
  border: none !important;
}

@media only screen and (max-width: 800px) {
  .pkg-wrapper {
    padding-bottom: 7em;
  }
}

.col-md-10{
  margin-top: 15px;
}



/* Desktop Menu */

    .desktop-menu {  
        padding-left: 130px;
        padding-top: 25px;
        /* margin-top: 30px; */
        /* position: fixed; */
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 80%;
        /* display: block; */

      }


      @media only screen and (max-width: 1399px) {
        .desktop-menu {
          padding-left: 60px;
        }
      }

      .desktop-menu a {
        color: black;
        display: block;
        margin-top: 0.5em;
        padding: 27px 0px 0px 0px;
        text-decoration: none !important;
      }

      .desktop-menu a:hover {
        color: #00BFFF;
      }

      .desktop-logo {
        padding-left: 40px;
        padding-top: 55px;
        position: fixed;
        display: block;
      }


/* Mobile Menu */

  @media screen and (max-width: 799px) {
    .desktop-menu {
        display: none;
      }

      .desktop-logo {
        display: none;
      }

      .mobile-menu {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }

      .mobile-menu a {
        text-align: center;
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .mobile-menu a:hover {
        color: #00BFFF;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }

      #mobile-menu-container {
        transition: margin-left .5s;
        padding: 16px;
      }

      .mobile-logo {
        width:30%;
        height:30%;
        padding-left: 30px;
      }
    
      .mobile-icon {
        width: 100%;
        text-align: right;
        padding-right: 30px;
        margin-top: 15px;
      }
    
      .mobile-header-background {
        padding-top: 15px;
        padding-right: 10px;
        display: flex;
      }
  }

  @media only screen and (min-width: 800px) {
    .mobile-container {
      display: none !important;
    }
  }


  
  .image-size {
    max-width: 430px;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
  }

 
 @media only screen and (min-width: 600px) {
  .image-works {
    padding-top: 50px ;
    padding-bottom: 60px ;
  }
}

@media only screen and (max-width: 799px) {
  .image-works {
    padding-top: 20px ;
  }
}

 .col-2 {
   padding-left: 0px;
   padding-right: 0px;
   background-color: #ffffff;
 }

 .col-md-2 {
  padding-left: 0px !important ;
  padding-right: 0px !important ;
  background-color: #ffffff;
}


.gallery-image {
  object-fit: cover; 
  height: 370px;
  width: 100%;
  object-position: center;
  pointer-events: none;
 }


@media only screen and (min-width: 800px) {
   .gallery-image-mobile{
      display: none;
    }
  }


  @media only screen and (max-width: 1399px) {
    .gallery-image {
      height: 240px;
     }
  
     /* .gallery-image-mobile{
        display: none;
      } */
    }

 @media only screen and (max-width: 800px) {
  .gallery-image{
    display: none;
    }

 .gallery-image-mobile{
      object-fit: contain;
      object-position: center;
      }
  }

 

 .carousel-image {
  padding-top: 35px;
  object-fit: contain; 
  max-height: 1600px;
  width: 100%;
  object-position: center;
  touch-action: none;
 }

 @media only screen and (max-width: 1399px) {
  .carousel-image {
    max-height: 520px;
   }
}

@media only screen and (min-width: 1400px) {
  .carousel-image {
    max-height: 820px;
   }
}

@media only screen and (min-width: 2560px) {
  .carousel-image {
    /* max-height: 850px; */
    min-height: 1200px;
   }
}


 @media only screen and (max-width: 800px) {
  .footer-controls{
    display: none;
  }
  
  .carousel-image {
    display: none;
  }

 }

 .footer-controls {
  margin-top: 29em;
  padding-left: 130px;
  /* position: fixed;
  bottom: 90px; */
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 80%;
  width: 100%;
 }

 #single-project-footer-actions {
  margin-top: 25em;
 }

 @media only screen and (max-width: 1399px) {
  .footer-controls {
    margin-top: 9.5em;
    padding-left: 60px;
   }
}

 .footer-controls a {
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none !important; /* Remove underline from links */
}

.footer-controls a:hover {
  color: #00BFFF;
}

.site-logo {
  margin-bottom: 0px;
}

.carousel-left-control {
  width: 50%;
}


@media only screen and (max-width: 799px) {
    .main-carousel {
      display: none !important ;
    }
  }

  @media only screen and (min-width: 600px) {
    .main-gallery {
      display: none ;
    }
  }

  .slide-controls {
    display: flex;
  }

  .slide-controls p {
    display: block !important ;
  }




  /* Single Page (Page.JS) */


  .page-content {
    font-family: 'Open Sans';
    padding-top: 90px;
    font-size: 15px;
  }

  .page-content h1 {
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: 600;
  }


  /* Carousel Cursor */

  .image-cursor-left{
    width: 50%;
    cursor: w-resize;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 998 !important;
    display: block;

  }

  .image-cursor-right{
    width: 50%;
    cursor: e-resize;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 998 !important;
    display: block;

  }

  #homepage-carousel {
    display: block;
  }

  #homepage-gallery {
    display: none;
  }

 

  #portfolio-gallery {
    display: none;
    margin-bottom: 70px;
  }

  #portfolio-footer-actions {
    display: block;
  }

  @media only screen and (max-width: 800px) {
    #portfolio-footer-actions {
      display: none;
    }
  }

  #projects-gallery{
    display: block;
  }

  #projects-footer-actions {
    display: none;
  }

  #portfolio-project-name {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 15px;
    padding-left: 12px;
    line-height: 25px;
  }

  #projects-title {
    font-family: 'Open Sans';
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color:#FFFFFF;
  }




  /* Centered text */
.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 35px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .centered {
    top: 40%;
    font-size: 20px;
  }
}


#enquiries {
  font-size: 20px !important;
}


/* .project-overlay:hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.image-hover:hover .project-overlay {
  opacity: 1;
} */

.img-container{
  position:relative;
  
}

.img-container .overlay{
  position:absolute;
  top:0;
  left:0;
  height: 93%;
  width: 100%;
  background: #000000;
  opacity: 0;
  transition:opacity 500ms ease-in-out;
}

.img-container .overlay-mobile{
  position:absolute;
  top:0;
  left:0;
  height: 93%;
  width: 100%;
  background: #000000;
  opacity: 0.6;
  transition:opacity 500ms ease-in-out;
}

.img-container:hover .overlay{
  opacity: 0.7;
}
.overlay p{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:#FFFFFF;
}


.overlay-mobile p{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:#FFFFFF;
}



.slick-arrow {
  display: none !important;
}

.slick-prev {
  display: none !important;
}

.footer {
  background-color: #f7f7f7;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  /* padding: 5px; */
  
}

@media only screen and (max-width: 800px) {
  .footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 2em;
    text-align: center;
    padding: 5px;
  }
}

.footer a {
  color: #003F87;
}


.pkg-footer {
  padding-top: 5px;
  margin-top: 10px;
}

@media only screen and (max-width: 800px) {
  .footer-icons {
    display: none;
  }
  
}
.pkg-footer-icon {
  font-size: 17px;
  margin-right: 15px;
}

/* .pkg-footer-icon a {
  color: #000000 !important;
} */